body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #eee;
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo-name {
    font-size: 20px;
    font-weight: 700;
}

.logo img {
    width: 40px;
}

.header-section,
.hero-section {
    background-color: black;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px;
    color: #eee;
}

.header-menu a {
    color: #b4b4b4;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 80px 36px;
    gap: 48px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #eee;
    gap: 20px;
    max-width: 400px;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
    line-height: 110%;
}

.hero-text {
    font-size: 18px;
    line-height: 130%;
    color: #b4b4b4;
}

.hero-image img {
    flex-shrink: 0;
    width: 600px;
}

.info-section,
.info.cards,
.card {
    box-sizing: border-box;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: fit-content;
    margin: 0px;
    padding: 80px 0px;
    gap: 40px;
    background-color: black;
    background-image: url(./img/background-1.png);
    background-position: center;
    /* background-repeat: no-repeat; */
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #c2c2c2;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    max-width: 240px;
    padding: 20px;
    gap: 12px;
    border-radius: 8px;
    border: 2px solid #1d1d1d;
    color: #818181;
    background-color: black;
}

.card-title {
    color: #c2c2c2;
    font-size: 18px;
    font-weight: 700;
}

.card img {
    width: 100%;
}

.card-description {
    font-size: 14px;
}

.card-gradient {
    position: absolute;
    background: linear-gradient(0deg, transparent, #fff);
    height: 12px;
    border-radius: 4px 4px 0px 0px;
    top: 2px;
    left: 2px;
    right: 2px;
    opacity: 0.08;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    background-color: black;
}

.quote-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 24px;
}

.quote-icon {
    color: #FF2312;
    font-size: 90px;
    margin-bottom: -50px;
}

.quote {
    color: #c2c2c2;
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    color: #FF2312;
    text-align: right;
    font-weight: 700;
}

#button-on-dark {
    background-color: #FF2312;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    flex-shrink: 0;
    padding: 12px 18px;

}